<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAn_QLTV.Properties.Settings.DOAnQLTVConnectionString"
            connectionString="Data Source=NONAME\SQLEXPRESS;Initial Catalog=DOAnQLTV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DOAnQLTVConnectionString" connectionString="XpoProvider=MSSqlServer;data source=NONAME\SQLEXPRESS;integrated security=SSPI;initial catalog=DOAnQLTV" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>